<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266930800561-o0h7ba3pnpqq68sckjs2jt0ldf8olb4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266930800561-o0h7ba3pnpqq68sckjs2jt0ldf8olb4m</string>
	<key>API_KEY</key>
	<string>AIzaSyDWx0Cnb2374MiKt43W2QcWUEZmGOzMwe8</string>
	<key>GCM_SENDER_ID</key>
	<string>266930800561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.torigian.baseProject</string>
	<key>PROJECT_ID</key>
	<string>careernerd-93293</string>
	<key>STORAGE_BUCKET</key>
	<string>careernerd-93293.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266930800561:ios:4a58333697ca54d2</string>
	<key>DATABASE_URL</key>
	<string>https://careernerd-93293.firebaseio.com</string>
</dict>
</plist>